body {
  max-width: 95%;
  height: 10000px;
  /* auto means it will leave equal space from left and right */
  margin: 0 auto;
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: white;
  position: fixed;  /* to fix the position of navbar*/
  top: 0; 
  z-index: 1000;  
  width: 95%;
  font-weight: bold;
  border-bottom: 1px solid rgb(236, 232, 232);
  
  
}
ul{
  display: flex;
  justify-content: space-between;
}
.nav-links{
  width: 45%;
}
.profile-section{
  width: 15%; 
}
li{
  list-style: none;  
}
.main-content{
  margin-top: 53px;
  /* background-color: rgb(238, 226, 226); */
  background-color: transparent;

}
.first-container{
  display: flex;
  justify-content: space-between;
}
.content{
  width: 40%;
  margin-left: 5%;
  margin-top: 4%;

}
.content-image{
  width: 50%;
}
.content-image>img{
  width: 90%;
  margin-top: 5%;

}