body {
  max-width: 95%;
  height: 1000px;
  /* auto means it will leave equal space from left and right */
  margin: 0 auto;
  float: none;
  font-family: Arial, Helvetica, sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: white;
  position: fixed;  /* to fix the position of navbar*/
  top: 0; 
  z-index: 1000;  
  width: 95%;
  font-weight: bold;
  border-bottom: 1px solid rgb(236, 232, 232);
  height: 60px;
  
}
#header-ul{
  display: flex;
  justify-content: space-between;
}
.nav-links{
  width: 45%;
}
.profile-section{
  width: 14%; 
 display: flex;
 align-items: center;

 justify-content: space-between;

}
li{
  list-style: none;  
}
.main-content{
  margin-top: 53px;
  /* background-color: rgb(238, 226, 226); */
  background-color: transparent;

}
.first-container{
  display: flex;
  justify-content: space-between;
}
.content{
  width: 40%;
  margin-left: 5%;
  margin-top: 4%;

}
.content-image{
  width: 50%;
}
.content-image>img{
  width: 90%;
  margin-top: 5%;

}
.button{
  height: 2.5rem;
  width: 8rem;
  background-color: blue;
  border: 2px solid white;
  border-radius: 0.3rem;
  margin-top: 1.3rem;
 
 
}
#create-poll{
  color: white;
  font-size: medium;
  font-weight: bold;
}
.signup{
  height: 2.3rem;
  width: 6rem;
  background-color: rgb(64, 64, 209);
  border: 2px solid white;
  border-radius: 0.3rem;
 
}
#sign{
  color: white;
  font-size: medium;
  font-weight: bold;
}
#login{

  align-items: center;
}
/* css of registration page */
.form-container{
  width: 300px;
  margin-left: 35%;
  margin-top: 5%;
  background-color: aqua;
  padding-left:20px ;
  padding-top: 20px;
  padding-bottom: 20px;
}
#auth-logo
{
  background-color: yellow;
  height: 40px;
  width: fit-content;
  margin-left: 42%;
  margin-top: 10%;
  
}
#icon{
  font-size: 30px;

}
#username, #password, #email{
  margin-bottom: 15px;
  margin-top: 5px;
  width: 260px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 0.3rem;
}
#register{
  margin-top: 5px;
  height: 35px;
  width: 90%;
  background-color: blue;
  border: 2px solid blue;
  border-radius: 0.3rem;
  color: white;
  font-size: large;
  font-weight: bold;
}
#para{
  margin-left: 35%;
  color: rgb(70, 68, 68);  
}


/* css of create polls */
.form{
margin: auto;
/* width: fit-content; */
margin-top: 5%;
max-width: 50%;
}
.form-title{
  background-color: rgb(245, 239, 239);
  /* width: 80%; */
  
  /* margin-left: 130px; */
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: 10px solid rgb(140, 75, 237);
  border-bottom: 2px solid rgb(231, 234, 235);
  border-radius: 0.5rem;
  display: grid;
}
#title, #description{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 90%;
  position: relative;
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  color: rgb(60, 60, 60);
  box-shadow: inset 0 1px 4px 0 rgba(72, 71, 71, 0.3);
  overflow: hidden;
  transition: all 100ms ease-in-out;
  :focus {
      border-color: #b9babb;
      box-shadow: 0 1px 0 0 rgba(248, 247, 247, 0.05);
  }

}
#description{
  height: 60px;

}
#label1{
  margin-top: 1%;
}
#label1, #label2, #label3{
  margin-left: 1%;
  
}
#category{
  margin-left: 2%;
}
.question{  
  background-color: rgb(245, 239, 239);

  height: auto;
  /* margin-left: 130px; */
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid rgb(220, 222, 223); 
  border-radius: 0.5rem;
}
#que, #option, #add-option{
  display: grid;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-top: 2%;
}
.options{
  margin-left: 2%;
}
#que{
  margin-top: 1%;

}
.add-option{
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 1%;
  border: 1px solid grey;
  border-radius: 0.2rem;
  box-shadow: #b9babb;
}
#id1, #id2{
 margin-left: 1%;
  width:90%;
  position: relative;
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  color: rgb(61, 59, 59);
  box-shadow: inset 0 1px 4px 0 rgba(72, 71, 71, 0.3);
  overflow: hidden;
  transition: all 100ms ease-in-out;
  :focus {
      border-color: #b9babb;
      box-shadow: 0 1px 0 0 rgba(248, 247, 247, 0.05);
  }
}
#id2{
  width: 88%;
  margin-top: 5px;
}
.add-question>button{
width: 160px;
height: 30px;
font-size: 17px;
}

.chart-container{
  width: 400px;
  height: 300px;

 margin: auto;
}

.chart-ul{
  /* display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 7%; */
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: center;
  grid-column-gap: 10px;
}
#chart-li{
 border-top: 1px solid rgb(218, 217, 217);
 border-right:1px solid rgb(227, 225, 225) ;
 border-bottom: 1px solid rgb(218, 215, 215);
 border-left:1px solid rgb(223, 222, 222) ;
 text-align: center;
 border-radius: 0.8rem;
 padding-top: 5px;

 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 color: #646363;
}

#result-logo{
  text-align: center;
  
}

#result-id{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

#choice-button{
  display: flex;
}
#question-label{
  display: flex;
  justify-content:space-between;
}

.delete-poll{
  width: 120px;
}
.new-login{

  height: 45px;
  width: 30%;
  margin-top: - 10%;
  background-color: blue;
  border: 2px solid blue;
  border-radius: 0.3rem;
  color: white;
  font-size: large;
  font-weight: bold;
}
#new-login{
  
  position: relative;
  top: 15%;
}
.new-to-login{
  font-size: 20px;

  height: 50px;
  margin-left: 36%;
  margin-top: 1%;
  width: max-content;

}

/*CSS of user profile in dashboard*/
.user-detail{
  width: 30%;
  height: 150px;
  margin-left: 35%;
  margin-top: 5%;
  background-color: blue;
}
#uname, #uemail{
  margin-left: 5%;
}
.polls-created, .polls-participated{
  background-color: aquamarine;
  display: flex;
  width: 40%;
}